In [1]:
import pandas as pd
import numpy as np
# import re
col_string = "C:F"
def times_1000000(num):
    return float(num)*1000000
df_energy = pd.read_excel('~/Downloads/ITI_Python/ITI_Python_for_Data_Management/Task1/data/EnergyIndicators.xls',
                              header=17,
                              nrows=227,
                              na_values=['...'],
                              usecols=col_string,
                              dtype={'Petajoules':'float64','Gigajoules':'float64'})

df_energy.info()
df_energy.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
Unnamed: 2    227 non-null object
Petajoules    222 non-null float64
Gigajoules    222 non-null float64
%             227 non-null float64
dtypes: float64(3), object(1)
memory usage: 7.2+ KB

       Unnamed: 2  Petajoules  Gigajoules           %
0     Afghanistan       321.0        10.0   78.669280
1         Albania       102.0        35.0  100.000000
2         Algeria      1959.0        51.0    0.551010
3  American Samoa         NaN         NaN    0.641026
4         Andorra         9.0       121.0   88.695650

In [2]:
df_energy.rename(columns={'Unnamed: 2':'Country','Petajoules':'Energy Supply','Gigajoules':'Energy Supply per Capita','%':'% Renewable'},inplace=True)
df_energy.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan          321.0                      10.0    78.669280
1         Albania          102.0                      35.0   100.000000
2         Algeria         1959.0                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra            9.0                     121.0    88.695650

In [78]:


# df_energy_1.head()

# for column in df_energy_1.select_dtypes(include = ['object']).columns:
#     # print value_counts to see the distrubtion of the values
#     print(df_energy_1[column].value_counts())
#     # mark a column as ended
#     print('===== End of column {} ======'.format(column))

In [3]:
df_energy['Energy Supply'] = df_energy['Energy Supply'].apply(times_1000000)
df_energy.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan   3.210000e+08                      10.0    78.669280
1         Albania   1.020000e+08                      35.0   100.000000
2         Algeria   1.959000e+09                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra   9.000000e+06                     121.0    88.695650

In [4]:
df_energy_1 = df_energy.copy()
df_energy_2 = df_energy.copy()
df_energy_3 = df_energy.copy()
df_energy_1

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,3.210000e+08,10.0,78.669280
1,Albania,1.020000e+08,35.0,100.000000
2,Algeria,1.959000e+09,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
222,Viet Nam,2.554000e+09,28.0,45.321520
223,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
224,Yemen,3.440000e+08,13.0,0.000000
225,Zambia,4.000000e+08,26.0,99.714670
226,Zimbabwe,4.800000e+08,32.0,52.536120

In [108]:
# def changeCountryName(str):
#     for country in df_energy_1['Country']:
#         if (df_energy_1.loc[df_energy_1[country]]=='Republic of Korea'):
#             df_energy_1.loc[df_energy_1[country]]='South Korea'
#         elif (df_energy_1.loc[df_energy_1[country]]=='Afghanistan'):
#             df_energy_1.loc[df_energy_1[country]]=country
#         else:
#             df_energy_1.loc[df_energy_1[country]]=country
#     return df_energy_1.loc[df_energy_1[country]]
def changeCountryName(str):
    for index, country in df_energy_1['Country']:
        if ( country == 'Republic of Korea'):
            print (index)
#             df_energy_1.loc[df_energy_1[index]]=df_energy_1.loc[df_energy_1[index]].str.replace(index,'South Korea')
#         else:
#             df_energy_1.loc[df_energy_1[index]]=index

In [5]:
def removeDigits(text):
    trial = ''.join(str(v) for v in text if not v.isdigit())
    return trial

In [6]:
removeDigits("Hello python19")

'Hello python'

In [7]:
df_energy_1['Country'] = df_energy_1['Country'].apply(removeDigits)
df_energy_1.head(3)

       Country  Energy Supply  Energy Supply per Capita  % Renewable
0  Afghanistan   3.210000e+08                      10.0     78.66928
1      Albania   1.020000e+08                      35.0    100.00000
2      Algeria   1.959000e+09                      51.0      0.55101

In [8]:
df_energy_1['Country']=df_energy_1['Country'].str.replace("Republic of Korea","South Korea")
df_energy_1['Country']=df_energy_1['Country'].str.replace("United States of America","United States")
df_energy_1['Country']=df_energy_1['Country'].str.replace("United Kingdom of Great Britain and Northern Ireland","United Kingdom")
df_energy_1['Country']=df_energy_1['Country'].str.replace("China, Hong Kong Special Administrative Region","Hong Kong")

In [9]:
sCharacters = ['@','#','_','!','$','%','^','&','*','(',')','<','>','?','/','~']
def beforeSpecialCharacter(text):
    for ltr in text:
        if ltr in sCharacters:
            position = text.index(ltr)
            return text[0:position]
    return text

In [10]:
beforeSpecialCharacter("python /is a snake")

'python '

In [11]:
beforeSpecialCharacter("islam is a human")

'islam is a human'

In [5]:

        
#         for word in country:
            
# #             word.split()
#             for letter in word:
#                 if (letter.isalpha): 
#                     letter.join(' ')
#             return letter
#         return word
#     return country
# ' '.join(str(v) for v in country if v.isalpha())

In [12]:
df_energy_1['Country'] = df_energy_1['Country'].apply(beforeSpecialCharacter)
df_energy_1

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,3.210000e+08,10.0,78.669280
1,Albania,1.020000e+08,35.0,100.000000
2,Algeria,1.959000e+09,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
222,Viet Nam,2.554000e+09,28.0,45.321520
223,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
224,Yemen,3.440000e+08,13.0,0.000000
225,Zambia,4.000000e+08,26.0,99.714670
226,Zimbabwe,4.800000e+08,32.0,52.536120

In [69]:
# def remover(text):
#     regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
#     if(regex.search(text) != None):
#         trial = text.split(' ')
#         return trial[0:2]
#     else:
#         print("text is clean")

In [13]:
df_GDP = pd.read_csv('~/Downloads/ITI_Python/ITI_Python_for_Data_Management/Task1/data/world_bank.csv',
                              header=4,
                              nrows=264)

df_GDP.info()
df_GDP

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 60 columns):
Country Name      264 non-null object
Country Code      264 non-null object
Indicator Name    264 non-null object
Indicator Code    264 non-null object
1960              119 non-null float64
1961              120 non-null float64
1962              120 non-null float64
1963              120 non-null float64
1964              120 non-null float64
1965              127 non-null float64
1966              132 non-null float64
1967              133 non-null float64
1968              137 non-null float64
1969              137 non-null float64
1970              146 non-null float64
1971              146 non-null float64
1972              146 non-null float64
1973              146 non-null float64
1974              147 non-null float64
1975              152 non-null float64
1976              153 non-null float64
1977              158 non-null float64
1978              158 non-null float64
1979              159 non-null float64
1980              172 non-null float64
1981              177 non-null float64
1982              181 non-null float64
1983              181 non-null float64
1984              185 non-null float64
1985              187 non-null float64
1986              190 non-null float64
1987              193 non-null float64
1988              196 non-null float64
1989              199 non-null float64
1990              212 non-null float64
1991              214 non-null float64
1992              217 non-null float64
1993              218 non-null float64
1994              220 non-null float64
1995              226 non-null float64
1996              226 non-null float64
1997              227 non-null float64
1998              228 non-null float64
1999              230 non-null float64
2000              235 non-null float64
2001              236 non-null float64
2002              237 non-null float64
2003              237 non-null float64
2004              237 non-null float64
2005              237 non-null float64
2006              237 non-null float64
2007              237 non-null float64
2008              238 non-null float64
2009              238 non-null float64
2010              243 non-null float64
2011              238 non-null float64
2012              237 non-null float64
2013              237 non-null float64
2014              230 non-null float64
2015              214 non-null float64
dtypes: float64(56), object(4)
memory usage: 123.9+ KB

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [18]:
# df_GDP.isnull().sum()

In [14]:
df_GDP.rename(columns={'Country Name':'Country'},inplace=True)
df_GDP.head()

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [15]:
df_GDP_1 = df_GDP.copy()
df_GDP_2 = df_GDP.copy()
df_GDP_3 = df_GDP.copy()
df_GDP_1.head()

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [16]:
df_GDP_1['Country']=df_GDP_1['Country'].str.replace("Korea, Rep.","South Korea")
df_GDP_1['Country']=df_GDP_1['Country'].str.replace("Iran, Islamic Rep.","Iran")
df_GDP_1['Country']=df_GDP_1['Country'].str.replace("Hong Kong SAR, China","Hong Kong")

In [20]:
df_GDP_1.to_csv('~/Downloads/ITI_Python/ITI_Python_for_Data_Management/Task1/data/output/df_GDP_rename.csv')

In [17]:
sCharactersComma = ['@','#','_','!','$','%','^','*','(',')','<','>','?','/','~',',']
def beforeSpecialCharacterComma(text):
    for ltr in text:
        if ltr in sCharactersComma:
            position = text.index(ltr)
            return text[0:position]
    return text

In [18]:
df_GDP_1['Country'] = df_GDP_1['Country'].apply(beforeSpecialCharacterComma)
# df_GDP_1.to_csv('~/Downloads/ITI_Python/ITI_Python_for_Data_Management/Task1/data/output/df_GDP_special.csv')

In [33]:
beforeSpecialCharacterComma("islam & elsayed")

'islam & elsayed'

In [19]:
df_ScimEn = pd.read_excel('~/Downloads/ITI_Python/ITI_Python_for_Data_Management/Task1/data/scimagojr-3.xlsx',
                              nrows=191)
df_ScimEn.info()
df_ScimEn

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 8 columns):
Rank                      191 non-null int64
Country                   191 non-null object
Documents                 191 non-null int64
Citable documents         191 non-null int64
Citations                 191 non-null int64
Self-citations            191 non-null int64
Citations per document    191 non-null float64
H index                   191 non-null int64
dtypes: float64(1), int64(6), object(1)
memory usage: 12.1+ KB

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
...,...,...,...,...,...,...,...,...
186,187,Guyana,1,1,0,0,0.00,0
187,188,Christmas Island,1,1,0,0,0.00,0
188,189,Reunion,1,1,2,1,2.00,1
189,190,Saint Lucia,1,1,0,0,0.00,0
190,191,Mauritania,1,1,1,0,1.00,1

In [20]:
df_ScimEn_1 = df_ScimEn.copy()

In [21]:
df_step4 = pd.merge(pd.merge(df_ScimEn,df_energy_1, on='Country', how='left'), df_GDP_1[['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']], on='Country',how = 'left')
df_step4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 0 to 191
Data columns (total 21 columns):
Rank                        192 non-null int64
Country                     192 non-null object
Documents                   192 non-null int64
Citable documents           192 non-null int64
Citations                   192 non-null int64
Self-citations              192 non-null int64
Citations per document      192 non-null float64
H index                     192 non-null int64
Energy Supply               171 non-null float64
Energy Supply per Capita    171 non-null float64
% Renewable                 172 non-null float64
2006                        162 non-null float64
2007                        162 non-null float64
2008                        162 non-null float64
2009                        162 non-null float64
2010                        166 non-null float64
2011                        162 non-null float64
2012                        161 non-null float64
2013                        161 non-null float64
2014                        155 non-null float64
2015                        148 non-null float64
dtypes: float64(14), int64(6), object(1)
memory usage: 33.0+ KB

In [22]:
df_step4_sub = df_step4.loc[0:14,:]
df_step4_sub

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1,China,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
1,2,United States,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
2,3,Japan,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,...,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,...,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
5,6,Canada,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,...,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
6,7,Germany,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,...,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
7,8,India,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,...,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
8,9,France,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,...,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
9,10,South Korea,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
10,11,Italy,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,...,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
11,12,Spain,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,...,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
12,13,Iran,8896,8819,57470,19125,6.46,72,NaN,NaN,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
13,14,Australia,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,...,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
14,15,Brazil,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,...,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [23]:
df_step4_sub.set_index('Country', inplace=True)
df_step4_sub.head(3)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12

In [25]:
#Alternative solution to merge
# Making a subset of ScimEn with countries ranked from 1 to 15
df_ScimEn_Sub = df_ScimEn.loc[0:14,:]
df_ScimEn_Sub

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86

In [26]:
# Making a subset of the df_GDP that contains needed columns in the joins
df_GDP_Sub = df_GDP_1.loc[:,df_GDP_1.columns.str.contains('^Country|^2006|^2007|^2008|^2009|^2010|^2011|^2012|^2013|^2014|^2015')]
df_GDP_Sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 12 columns):
Country         264 non-null object
Country Code    264 non-null object
2006            237 non-null float64
2007            237 non-null float64
2008            238 non-null float64
2009            238 non-null float64
2010            243 non-null float64
2011            238 non-null float64
2012            237 non-null float64
2013            237 non-null float64
2014            230 non-null float64
2015            214 non-null float64
dtypes: float64(10), object(2)
memory usage: 24.9+ KB

In [27]:
df_GDP_Sub.drop('Country Code', axis=1, inplace=True)
df_GDP_Sub.head()

/home/eslam/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [28]:
df_ScimEn_energy1 = pd.merge(df_ScimEn_Sub,df_energy_1, on ='Country',how = 'left')
df_ScimEn_energy1

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable
0,1,China,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910
1,2,United States,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980
2,3,Japan,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680
5,6,Canada,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430
6,7,Germany,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530
7,8,India,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080
8,9,France,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280
9,10,South Korea,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353
10,11,Italy,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230
11,12,Spain,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590
12,13,Iran,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN
13,14,Australia,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810
14,15,Brazil,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030

In [29]:
df_ScimEn_energy1_copy = df_ScimEn_energy1.copy()
df_ScimEn_energy1_copy

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable
0,1,China,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910
1,2,United States,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980
2,3,Japan,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680
5,6,Canada,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430
6,7,Germany,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530
7,8,India,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080
8,9,France,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280
9,10,South Korea,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353
10,11,Italy,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230
11,12,Spain,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590
12,13,Iran,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN
13,14,Australia,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810
14,15,Brazil,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030

In [30]:
df_ScimEn_energy_copy_GDP = pd.merge(df_ScimEn_energy1,df_GDP_Sub, on='Country', how='left')
df_ScimEn_energy_copy_GDP

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1,China,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
1,2,United States,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
2,3,Japan,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,...,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,...,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
5,6,Canada,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,...,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
6,7,Germany,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,...,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
7,8,India,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,...,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
8,9,France,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,...,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
9,10,South Korea,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
10,11,Italy,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,...,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
11,12,Spain,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,...,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
12,13,Iran,8896,8819,57470,19125,6.46,72,NaN,NaN,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
13,14,Australia,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,...,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
14,15,Brazil,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,...,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [31]:
#follow alternative solution
#final form of the three merged dataframes
df_ScimEn_energy_copy_GDP.set_index('Country', inplace=True)
df_ScimEn_energy_copy_GDP

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [64]:
df_ScimEn_energy_copy_GDP.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, China to Brazil
Data columns (total 20 columns):
Rank                        15 non-null int64
Documents                   15 non-null int64
Citable documents           15 non-null int64
Citations                   15 non-null int64
Self-citations              15 non-null int64
Citations per document      15 non-null float64
H index                     15 non-null int64
Energy Supply               11 non-null float64
Energy Supply per Capita    11 non-null float64
% Renewable                 11 non-null float64
2006                        15 non-null float64
2007                        15 non-null float64
2008                        15 non-null float64
2009                        15 non-null float64
2010                        15 non-null float64
2011                        15 non-null float64
2012                        15 non-null float64
2013                        15 non-null float64
2014                        15 non-null float64
2015                        14 non-null float64
dtypes: float64(14), int64(6)
memory usage: 2.5+ KB

In [32]:
df_merged = df_ScimEn_energy_copy_GDP.copy()
# df_merged.isnull().sum()

In [33]:
df_merged_copy = df_merged.loc[:,'2006':'2015']
# df_merged_copy.sort_values(by=['2006'], ascending=False, inplace=True)
# df_merged_copy

In [34]:
df_merged_copy['avgGDP'] = df_merged_copy.mean(axis=1)
df_merged_copy.sort_values(by = ['avgGDP'], ascending= False, inplace= True)
df_avgGDP = df_merged_copy[['avgGDP']]
df_avgGDP

                          avgGDP
Country
United States       1.536434e+13
China               6.348609e+12
Japan               5.542208e+12
Germany             3.493025e+12
France              2.681725e+12
United Kingdom      2.487907e+12
Brazil              2.189794e+12
Italy               2.120175e+12
India               1.769297e+12
Canada              1.660647e+12
Russian Federation  1.565459e+12
Spain               1.418078e+12
Australia           1.164043e+12
South Korea         1.106715e+12
Iran                4.441558e+11

In [35]:
ESpC = df_energy_1['Energy Supply per Capita']
ESpC_mean = ESpC.mean()
ESpC_mean

90.66666666666667

In [36]:
df_merged_2 = df_merged.copy()
df_merged_2

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [37]:
#Step 7:
rowindex = df_merged_2['% Renewable'].idxmax()
rowindex

'Brazil'

In [38]:
print(rowindex, df_merged_2.loc[rowindex,'% Renewable'])

Brazil 69.64803

In [39]:
df_energy_1.iloc[rowindex,[0,3]]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [40]:
#Step 8
df_merged_2['Ratio']= df_merged_2['Self-citations']/df_merged_2['Citations']

In [41]:
df_merged_2.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Ratio
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,...,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.57098,...,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,...,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.60047,...,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.28868,...,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517

In [42]:
highestCitationRatioIndex = df_merged_2['Ratio'].idxmax()
highestCitationRatioIndex

'China'

In [43]:
print(highestCitationRatioIndex, df_merged_2.loc[highestCitationRatioIndex,'Ratio'])

China 0.6893126179389422

In [44]:
#Step 9
df_merged_9 = df_merged.copy()
df_merged_9.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12

In [45]:
Renewable = df_merged_9['% Renewable']
RenewableMedian = Renewable.mean()
RenewableMedian

24.047013785714284

In [46]:
df_merged_9['HighRenew'] = df_merged_9['% Renewable'].apply(lambda x : 1 if x >= RenewableMedian else 0 )

In [47]:
HighRenew = df_merged_9['HighRenew']
HighRenew

Country
China                 0
United States         0
Japan                 0
United Kingdom        0
Russian Federation    0
Canada                1
Germany               0
India                 0
France                0
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int64

In [48]:
#Step 10
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

In [49]:
df_merged_10 = df_merged.copy()

In [50]:
df_merged_10_sub = df_merged_10.loc[:,'2006':'2015']
df_merged_10_sub.head(2)

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,
China,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13

In [51]:
df_grouped_merged = df_merged_10_sub.groupby(by=ContinentDict,axis=0).agg([np.mean, np.sum],axis=1)
# df_grouped_merged = df_merged_10_sub.groupby(by=ContinentDict,axis=0).count()

df_grouped_merged
# df_merged_10_sub
# grouped_data['Name'] = mb2['Name']
# print(grouped_countries)

                       2006                        2007                \
                       mean           sum          mean           sum
Asia           2.417068e+12  1.208534e+13  2.593688e+12  1.296844e+13
Australia      1.021939e+12  1.021939e+12  1.060340e+12  1.060340e+12
Europe         2.227191e+12  1.336315e+13  2.300005e+12  1.380003e+13
North America  8.178386e+12  1.635677e+13  8.326068e+12  1.665214e+13
South America  1.845080e+12  1.845080e+12  1.957118e+12  1.957118e+12

                       2008                        2009                \
                       mean           sum          mean           sum
Asia           2.686833e+12  1.343416e+13  2.745338e+12  1.372669e+13
Australia      1.099644e+12  1.099644e+12  1.119654e+12  1.119654e+12
Europe         2.317125e+12  1.390275e+13  2.204494e+12  1.322697e+13
North America  8.312102e+12  1.662420e+13  8.079993e+12  1.615999e+13
South America  2.056809e+12  2.056809e+12  2.054215e+12  2.054215e+12

                       2010                        2011                \
                       mean           sum          mean           sum
Asia           2.961825e+12  1.480912e+13  3.105645e+12  1.552823e+13
Australia      1.142251e+12  1.142251e+12  1.169431e+12  1.169431e+12
Europe         2.258262e+12  1.354957e+13  2.306675e+12  1.384005e+13
North America  8.288889e+12  1.657778e+13  8.434053e+12  1.686811e+13
South America  2.208872e+12  2.208872e+12  2.295245e+12  2.295245e+12

                       2012                        2013                \
                       mean           sum          mean           sum
Asia           3.246476e+12  1.623238e+13  3.401622e+12  1.700811e+13
Australia      1.211913e+12  1.211913e+12  1.241484e+12  1.241484e+12
Europe         2.307796e+12  1.384678e+13  2.314700e+12  1.388820e+13
North America  8.617647e+12  1.723529e+13  8.752177e+12  1.750435e+13
South America  2.339209e+12  2.339209e+12  2.409740e+12  2.409740e+12

                       2014                        2015
                       mean           sum          mean           sum
Asia           3.554373e+12  1.777186e+13  4.525337e+12  1.810135e+13
Australia      1.272520e+12  1.272520e+12  1.301251e+12  1.301251e+12
Europe         2.341307e+12  1.404784e+13  2.366393e+12  1.419836e+13
North America  8.965052e+12  1.793010e+13  9.170591e+12  1.834118e+13
South America  2.412231e+12  2.412231e+12  2.319423e+12  2.319423e+12